<div style="width:60%; margin:0 auto;">
<h1><%= name %></h1>
<%= form_for(@p) do |f| %>
	<% @p.errors.full_messages.each do |message|%>
		<div class="be-alert white">*<%= message %></div>
	<%end%>
	<div class="field">
		<%= f.text_field:name, placeholder: "Nombre Proyecto", class:"form-control"%>
	</div>
	<div class="field">
		<%= f.text_area:description, placeholder: "Description Proyecto", class:"form-control"%>
	</div>
	<div class="field">
		<%= f.submit "Guardar", class:"btn large-padding be-red" %>
	</div>

<%end%>
</div>